<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
  <link rel="stylesheet" href="static/css/blur.css">
</head>
<body>
  <div class="wrapper">
    <div class="formbold-form-wrapper">
      <div style="text-align: center; padding-bottom: 20px;padding-top: 30px;">
        <img src="static/images/baps_logo.svg" style="height: 130px;">
      </div>
    <h2 style="color:#6a64f1; margin: 8%;justify-content:center;">We appreciate your registration for Seva during Diwali. </h2>
    <h3 style="margin: 8%;justify-items: center;">Your Respective Karyakar will contact you soon.</h3>
    <div style="justify-content: center;margin: 8%;">
    <h2 style="color:#6a64f1;">Your Selection:</h2>
    <p>Name : <b>{{value.name}}</b></p>
    <p>Email : <b>{{value.email}}</b></p>
    <p>Phone : <b>{{value.Phone}}</b></p>
    <p>Mandal : <b>{{value.mandal}}</b></p>
    <p>31 October, Thursday : <b>{{value.october31}}</b></p>
    <p>1 November, Friday : <b>{{value.november1}}</b></p>
    <p>2 November, Saturday : <b>{{value.november2}}</b></p>
    </div>
    </div>
</div>
</body>
</html>